.tendencias {
  padding-left: 30%;
  background-color: darkslateblue;
}

.tendencias h2 {
  margin-bottom: 0rem;
}

div {
  background-color: darkslateblue;
}

.card {
  background-color: aquamarine;
  margin-bottom: 8%;
}

.card-body {
  background-color: aliceblue;
}

.row {
  margin-left: 0 !important;
  margin-right: 0 !important;
  /*Bootstrap le pone un margen left y right de 0.5 que hace que no quepa bien en la pantalla , se lo quito
  así porque no queda más remedio.*/
}
